.container {
	padding: 20px;
	border-radius: 8px;
	background-color: #17181f;
	margin: 40px auto;
	max-width: 600px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
}

h3.date {
	display: block;
	max-width: 600px;
	text-align: left;
	margin: auto;
	color: var(--item-color);
}